:root {
    --radius-lg: 10px; /* Main containers */
    --radius-md: 8px;  /* Cards, buttons */
    --radius-sm: 4px;  /* Inputs */
    --radius-round: 50%;
    
    --shadow-default: 0 4px 10px rgba(0, 0, 0, 0.1);
    --shadow-orange: 0 0 30px rgba(221, 92, 0, 0.25);
}
